/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color:#A9B800;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background: #A9B800;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color:#3E2723;
    font-size: 18px;
    font-weight: bold;
}

/* Highlight the active navigation link */
.nav-links a.active {
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-links a:hover {
    color:#3E2723;
}
